SocialEvents.MobileApi/Connected Services/AnnouncementDmzServiceRef/AnnouncementDmzService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55219/AnnouncementServices/AnnouncementDmzService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SocialEvents.ViewModel" />
  <xs:element name="GetAnnouncements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnnouncementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SocialEvents.ViewModel" minOccurs="0" name="GetAnnouncementsResult" nillable="true" type="q1:ArrayOfAnnouncement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>