SocialEvents.DmzService/Connected Services/AnnouncementWCFServiceRef/AnnouncementWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SocialEvents.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SocialEvents.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1698/AnnouncementServices/AnnouncementWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAnnouncement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Announcement" nillable="true" type="tns:Announcement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnnouncement" nillable="true" type="tns:ArrayOfAnnouncement" />
  <xs:complexType name="Announcement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AuditableEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="EventImage" nillable="true" type="tns:EventImage" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Published" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Announcement" nillable="true" type="tns:Announcement" />
  <xs:complexType name="AuditableEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditableEntity" nillable="true" type="tns:AuditableEntity" />
  <xs:complexType name="EventImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileBase64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventImage" nillable="true" type="tns:EventImage" />
</xs:schema>