SocialEvents.Service/Connected Services/SacabServiceRef/SacabService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SacabWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SacabWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserApplicationRoles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserApplicationRoles" nillable="true" type="tns:UserApplicationRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserApplicationRoles" nillable="true" type="tns:ArrayOfUserApplicationRoles" />
  <xs:complexType name="UserApplicationRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" type="xs:int" />
      <xs:element minOccurs="0" name="SecurityRoleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserApplicationRoles" nillable="true" type="tns:UserApplicationRoles" />
</xs:schema>