SocialEvents.MobileApi/Connected Services/TargetGroupDmzServiceRef/TargetGroupDmzService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SocialEvents.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SocialEvents.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55219/TargetGroupServices/TargetGroupDmzService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTargetGroupViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TargetGroupViewModel" nillable="true" type="tns:TargetGroupViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTargetGroupViewModel" nillable="true" type="tns:ArrayOfTargetGroupViewModel" />
  <xs:complexType name="TargetGroupViewModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AuditableEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TargetGroupViewModel" nillable="true" type="tns:TargetGroupViewModel" />
  <xs:complexType name="AuditableEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditableEntity" nillable="true" type="tns:AuditableEntity" />
</xs:schema>